:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;

  color: rgba(0, 0, 0, 0.87);
  background-color: white;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  position: absolute;
  left: 400px;
  top: 150px;
}






ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-link {
  font-size: 1em;
  color: rgb(0, 0, 0); /* Replace with your link color */
  text-decoration: none;
  padding: 0.5em 1em;
  border: 2px solid transparent; /* Invisible border for a consistent layout */
  position: absolute;
  right: 40px;
  top: 30px;
}

.about-link:hover,
.about-link:focus {
  text-decoration: underline;
}


.pet-item {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.pet-item button {
  margin-left: 1rem;
}

.pet-item button.delete-button {
  background-color: var(--dark-color);
  color: var(--lighter-color);
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
