:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;

  color: rgba(0, 0, 0, 0.87);
  background-color: #F4F7FE;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.5em;
  font-family: inter;
  line-height: 1.1;
}

.aboutPage{
  padding-left: 5%;
}




ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-link {
  font-size: 1em;
  color: rgb(0, 0, 0); /* Replace with your link color */
  text-decoration: none;
  padding: 0.5em 1em;
  border: 2px solid transparent; /* Invisible border for a consistent layout */
  position: absolute;
  right: 40px;
  top: 30px;
}

.about-link:hover,
.about-link:focus {
  text-decoration: underline;
}

/***************** setting page css *******************/

.SettingPageContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  
}

.settingPageItems{
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0px #D2DCED;
  background-color: white;
}

.setting-grid{
  grid-column: span 2;
  height: 160%;
  box-shadow: 0px 0px 5px 5px #D2DCED;
  background-color: white;
}

.setting-gridItem{
  display: flex;
  flex-direction: raw;
  padding-left: 10%;
  gap: 100px;
  height: 100%;  
  padding-top: 3%;
}

.pet-item {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.pet-item button {
  margin-left: 1rem;
}

.pet-item button.delete-button {
  background-color: var(--dark-color);
  color: var(--lighter-color);
}



/* ********************* Schedule page ****************** */
.scheduleContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.form-container,
.schedule-list-container {
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0px #D2DCED;
  background-color: white;
}

.form {
  display: grid;
  grid-gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input[type="datetime-local"],
select,
input[type="number"],input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none; /* Remove outline on focus */
  cursor: pointer;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content; /* Set width based on content */
  justify-self: center;

}


.submit-btn:hover {
  background-color: #0056b3;
}
.schedule-table-container {
  max-height: 300px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  border-radius: 8px;
}

.schedule-table {
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  width: 100%;
  border-collapse: collapse;
  
}

.schedule-table th,
.schedule-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.schedule-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.header-cell {
  padding: 6px; 
}
.delete-button {
  /* Define the style for the delete button */
  background-color: transparent;
  color: rgb(246, 3, 3);
  border: none;
  border-radius: 50%;
  width: 30px; /* Adjust width and height to change size */
  height: 30px;
  font-size: 16px; /* Adjust font size */  
}

.manual {
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 5px #D2DCED;
  background-color: white;
  grid-column: span 2; 
  height: 160%;
  
}

.manualItem{
  display: flex;
  flex-direction: raw;
  justify-content: space-evenly;
  row-gap: 30px;
  padding-top: 3%;
}
.Amount{
  max-width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none; /* Remove outline on focus */
  cursor: pointer;
}

.feedButton{
  padding: 5px 20px;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
  background-color: green;
  color: white;
  border-radius: 50px;
}

