.scheduleContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .form-container,
  .schedule-list-container {
    max-width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form {
    display: grid;
    grid-gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  input[type="datetime-local"],
  select,
  input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; /* Remove outline on focus */
    cursor: pointer;
  }
  
  .submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content; /* Set width based on content */
    margin: 0 auto; /* Center horizontally */
   
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  .schedule-table-container {
    max-height: 300px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .schedule-table {
    max-height: 200px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
  }
  
  .schedule-table th,
  .schedule-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .schedule-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .manual {
    max-width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    grid-column: span 2; 
    
  }
  
  .manualItem{
    display: flex;
    flex-direction: raw;
    justify-content: space-evenly;
    row-gap: 30px;
  }
 .Amount{
    max-width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; /* Remove outline on focus */
    cursor: pointer;
 }

 .feedButton{
    padding: 5px 20px;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    background-color: green;
    color: white;
    border-radius: 50px;
 }

