.statusContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}

.statusItems{
    max-width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 0px #D2DCED;
    background-color: white;
}

.foodContainer{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}
.updateBTN{
    padding: 10px 20px;
    background-color: #272828;
    color: #fff;
    border: none;
    font-family:inter;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content; 
    margin: 0 auto; 
}
.bowl{
   display: flex;
   justify-content: center;
}

.history{
    grid-column: span 2;  
    box-shadow: 5px 5px 5px 0px #D2DCED;

}
.chart{
    display: flex;
    justify-content: center;
}

