.navigation {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--medium-color);
  padding: 3rem 3rem;
  box-sizing: border-box;
}
.navigation a {
  color: black;
  font-size: large;
}
.navcenter-link {
  grid-column: 2;
  justify-self: center;
}
.dropdownbtn {
  background-color: inherit;
  width: 100%;
  text-align: center;
  color: black;
  border-radius: 2px;
}

/* 
    OBS The code beneath is taken from w3schools for drop down button
    Code slithly modified grid-column and justify self added, min-width adjusted
    source: https://www.w3schools.com/howto/howto_css_dropdown.asp
*/
.dropdown {
  grid-column: 3;
  justify-self: end;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
